@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply overflow-x-hidden bg-primary;
	color: white;
	font-family: "Roboto", sans-serif;
}

h1 {
	@apply md:text-6xl text-4xl font-bold uppercase mb-5 tracking-wider;
}

h2 {
	@apply md:text-4xl  text-2xl uppercase font-semibold mb-4 tracking-wider;
}

h3 {
	@apply text-2xl uppercase font-medium mb-4 w-max tracking-wider leading-none;
}

h4 {
	@apply text-lg capitalize font-medium mb-1 tracking-wide leading-normal;
}

p {
	@apply font-light text-sm mb-4 last-of-type:mb-0 leading-normal;
	max-width: 75ch;
}

li {
	@apply mb-5;
}

.purple-bar {
	@apply absolute bg-gradient-to-t to-purple-600  from-purple-900 w-1 h-full top-0 -left-4 rounded-full animate-glow;
	box-shadow: 0px 0px 35px 1px rgba(163, 71, 255, 0.7);

	&-bottom {
		@apply absolute bg-gradient-to-r to-purple-600  from-purple-900 w-full h-1 -bottom-4 left-0 rounded-full animate-glow;
		box-shadow: 0px 0px 35px 1px rgba(163, 71, 255, 0.7);
	}
}

.progress-bar {
	@apply absolute bg-white w-1 lg:h-[115%] h-[110%] rounded-full;

	&-circle {
		@apply absolute w-6 h-6 bg-white shadow-sm border-primary border-4 rounded-full;
	}
}

.done {
	@apply bg-purple-600;
}

.tile {
	@apply relative flex justify-center align-middle flex-col p-6 bg-secondary bg-opacity-50 backdrop-filter backdrop-blur-sm hover:scale-105 transition-all duration-200 ease-in-out rounded-lg shadow-md;

	&-number {
		@apply absolute right-5 -top-4 text-2xl font-bold overflow-hidden w-max flex justify-center align-middle;
	}

	&-nav {
		@apply relative flex justify-center align-middle flex-col text-sm p-3 z-50 bg-secondary bg-opacity-50 backdrop-filter backdrop-blur-sm rounded-lg shadow-md;

		a {
			@apply transition-all duration-200 ease-in-out hover:text-purple-500 mr-4 last:mr-0;
		}
	}
}

.social {
	@apply text-white text-2xl mx-2 transition-all duration-200 hover:scale-110 hover:text-purple-600;
}

::-webkit-scrollbar {
	@apply w-2 bg-purple-900 bg-opacity-50;
}

::-webkit-scrollbar-track {
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	@apply bg-purple-600 rounded-full;
}
