* {margin: 0; padding: 0;}


.background {
	background-color: rgba(22,16,31,255);
}

h1 {
	color:white;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 65px;
}

p {
	color:white;
	font-family: "Times New Roman", serif;
	text-align: center;
}